{% extends 'main/base.html' %}

{% block title %}Подтверждение номера телефона{% endblock %}

{% block content %}
<p>Чтобы получить <i>api_id</i> и <i>api_hash</i>, вам нужно авторизоваться на официальной <a href="https://my.telegram.org/auth">странице управления приложениями Telegram</a> и создать новое приложение либо указать данные существующего.</p>
<p>Укажите номер телефона, на который Telegram пришлёт код подтверждения авторизации для Telegram Analytics.</p>
<p>После этого мы запросим у вас код подтверждения.</p>
<p><b>TODO: ИНСТРУКЦИЯ СО СКРИНШОТАМИ</b></p>
<form method="POST" class="form-group" id="user_confirmation">
  {% csrf_token %}
  <input name="phone" type="phone" placeholder="Номер телефона">
  <input name="api_id" type="text" placeholder="App api_id">
  <input name="api_hash" type="text" placeholder="App api_hash">
  <input name="code" type="hidden" placeholder="Код подтверждения">
  <input name="password" type="hidden" placeholder="Пароль двухфакторной аутентификации">
  <button type="submit" class="btn btn-success" name="register">Отправить</button>


</form>
{% endblock %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  for (const i in Object.keys(localStorage)){
    const name = localStorage.key(i);
    const item = document.querySelector(`#user_confirmation input:not([type="hidden"])[name="${name}"]`);
    if (item) {
      item.value = localStorage.getItem(name);
    }
  }

  $(document).ready(function () {
    $('#user_confirmation').submit(function (event) {
      $.ajax({
        data: $(this).serialize(),
        dataType: "json",
        type: "POST",
        success: function (response) {
          if (!Object.keys(response.error).length) {
            $("[name='code']").attr("type", "text");
          } else if (response.error.password) {
            $("[name='password']").attr("type", "text");
          } else if (response.error.uncommon) {
            console.log(response.error.uncommon);
          }

          if (response.error) {
            for (const i in response.error) {
              const $item = document.querySelector(`#user_confirmation input:not([type="hidden"])[name="${i}"]`);
              $item.classList.add('error');
              console.log(response.error[i])
            }
          }

          $("#user_confirmation input:not([type='hidden'])").each(function (i) {
            localStorage.setItem($(this)[0].name, $(this)[0].value);
          });
        },
        error: function (response) {
          console.log(response.statusText);
        }
      });
      event.preventDefault();
    });
  })
</script>
{% endblock javascript %}
